{% extends 'base.html' %} {% load static %} {% block stylearea %}
<style></style>
{% endblock %} {% block contentarea %}
<section class="slice py-5 py-lg-7">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-0">
                <div class="card border-0 shadow-lg zindex-100 mb-0">
                    <figure><img alt="Image placeholder" src="{% static 'img/theme/light/img-1-1000x800.jpg' %}" class=card-img></figure>
                    <div class="card-img-overlay d-flex justify-content-end">
                        <div class=text-center><a href="https://www.youtube.com/watch?v=zodT9bCdIiI" class="btn btn-white btn-icon-only rounded-circle shadow-sm hover-scale-110" data-fancybox=""><span class="btn-inner--icon text-sm"><i data-feather=play class=text-primary></i></span></a></div>
                    </div>
                </div>
                <div class="w-75 position-absolute bottom-n5 right-n5 rotate-180"><img alt="Image placeholder" src="{% static 'img/svg/shapes/bubble-2.svg' %}" class="svg-inject fill-secondary"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 order-md-1 pr-md-5">
                <h6 class="">- Build like a Pro</h6>
                <h1 class="h1 mb-4">Start your business with <strong>Quick</strong>.</h1>
                <p class="lead text-muted">Build a beautiful, modern website with flexible Bootstrap components built from scratch.</p>
                <div class=mt-5><a href=# class="btn btn-primary">Learn more </a><a href="https://www.youtube.com/watch?v=zodT9bCdIiI" class="btn btn-neutral btn-icon d-none d-lg-inline-block" data-fancybox><span class=btn-inner--text>Play video</span> <span class=btn-inner--icon><i data-feather=play class=text-primary></i></span></a></div>
            </div>
        </div>
    </div>
</section>
<section class=slice>
    <div class=container>
        <div class="row justify-content-center">
            <div class=col-lg-9>
                <p class=lh-190>She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly
                    followed.
                </p>
                <blockquote class="blockquote blockquote-card my-5 py-5 px-5 rounded-right bg-soft-primary">
                    <h5 class="h2 font-weight-700">Some wise words</h5>
                    <p class=lead>Quick is a professional theme reviewed and approved by the Bootstrap Creators themeselves. With each purchase you get a pack of high quality components and page layouts to start building your website instantly.</p>
                    <footer class=blockquote-footer>CEO of Company Inc <cite class=font-weight-600 title="Source Title">Heather Wrights</cite></footer>
                </blockquote>
                <article>
                    <h5 class=h4>The challenge</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                    <h5 class=h4>Our approach</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <figure class=figure><img alt="Image placeholder" src="{% static 'img/theme/light/img-2-1000x800.jpg' %}" class="img-fluid rounded">
                        <figcaption class="mt-3 text-muted">Figure one: Type here your description</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h5 class=h4>Results</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="row my-5">
                        <div class=col-sm-4>
                            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                                <div class="p-4 text-center">
                                    <div class="icon bg-warning text-white rounded-circle icon-shape"><i data-feather=dollar-sign></i></div>
                                    <h3 class="mt-3 mb-0"><span class="counter font-weight-bolder" data-from=0 data-to=10 data-speed=3000 data-refresh-interval=200></span> <span class=counter-extra>k</span></h3>
                                    <p class="text-muted mb-0">Customers</p><span class="d-sm-block pl-2 text-success">30% <small data-feather=chevron-up></small></span></div>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                                <div class="p-4 text-center">
                                    <div class="icon bg-danger text-white rounded-circle icon-shape"><i data-feather=download></i></div>
                                    <h3 class="mt-3 mb-0"><span class="counter font-weight-bolder" data-from=0 data-to=53 data-speed=3000 data-refresh-interval=200></span> <span class=counter-extra>k</span></h3>
                                    <p class="text-muted mb-0">Downloads</p><span class="d-sm-block pl-2 text-success">50% <small data-feather=chevron-up></small></span></div>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                                <div class="p-4 text-center">
                                    <div class="icon bg-success text-white rounded-circle icon-shape"><i data-feather=users></i></div>
                                    <h3 class="mt-3 mb-0"><span class="counter font-weight-bolder" data-from=0 data-to=98 data-speed=3000 data-refresh-interval=200></span> <span class=counter-extra>%</span></h3>
                                    <p class="text-muted mb-0">Happy users</p><span class="d-sm-block pl-2 text-success">100% <small data-feather=chevron-up></small></span></div>
                            </div>
                        </div>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="slice">
    <div class="container py-5 border-top">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <h2 class="mt-4">Need personal assistance?</h2>
                <div class="mt-2">
                    <p class="lead lh-180">If you still didn't find an answer you can always contact us</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body p-5 text-center">
                        <div class="pb-4"><img alt="Image placeholder" src="{% static 'img/svg/icons/Call_Out.svg' %}" class="svg-inject img-fluid" style="height:40px"></div>
                        <h5>+30 (555) 898-623</h5>
                        <p class="mt-2 mb-0">Our support team is here for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body p-5 text-center">
                        <div class="pb-4"><img alt="Image placeholder" src="{% static 'img/svg/icons/Email.svg' %}" class="svg-inject img-fluid" style="height:40px"></div>
                        <h5><a href="mailto:support@example.com">support@example.com</a></h5>
                        <p class="mt-2 mb-0">You'll get a reply in 4 to 12 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block scriptarea %}
<script></script>
{% endblock %}